button{
background-color: #4d5ae5;
margin: 0 auto;
display: block;
font-size: 125%;

}
.big{
    font-size: 300%;
text-align: center;
background-color: #2E2F42;
color: white;
}
.box{
    background-color: #2e2f42;
}
a{
    color: black;
}
span{
    color:#4d5ae5;
}
header {
    display: flex;
}
nav {
    display: flex;
    margin-left: 50px;
    gap: 20px;
}
address{
 margin-left: 850px;
 gap: 20;
 
}


* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 100px;
    padding-left: 40px;
}

.row {
    display: flex;
    clear: both;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 100px;
    padding-top: 20px;
}

.fonk{
    display: inline-block;
margin: 0 auto;
padding-left: 210px;
width: 270px;

}

.korobka {
    padding-top: 160px;
    padding-bottom: 190px;
    background-color: #F4F4fd;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.bih{
    font-size: 200%;
    text-align: center;
    padding-bottom: 30px;
    margin: auto;
}

.portfolio {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.item {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.item p {
    margin: 5px 0;
    color: #333;
    font-size: 0.9rem;
}