button{
    background-color: #4d5ae5;
margin-left: 775px;
font-size: 125%;
}
h1{
    font-size: 300%;
text-align: center;
background-color: #2E2F42;
color: white;
}
.box{
    background-color: #2e2f42;
}
a{
    color: black;
}
span{
    color:#4d5ae5;
}
header {
    display: flex;
}
nav {
    display: flex;
    margin-left: 50px;
    gap: 20px;
}
address{
 margin-left: 1000px;
 gap: 20;
 
}